project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"
    - "!fiche_pheno.qmd"
    - "!tuto_formatage_hypertexte.qmd"
    - "!fiche_carences.qmd"
    - "!fiche_blackrot.qmd"

website:
  title: "Fiches méthodologiques vigne et vin"
  favicon: images/favicon.ico
  sidebar:
    logo: images/logo.png
    collapse-level: 1
    page-navigation: true
    reader-mode: false
    style: "docked"
    background: secondary
    search: true
    contents:
      - text: "Introduction"
        href: index.qmd
      - section: "Phénologie"
        contents:
          - fiche_pheno_dbr.qmd
          - fiche_pheno_flo.qmd
          - fiche_pheno_ver.qmd
      - section: "Vigueur"
        contents:
          - fiche_vigueur_OIV351.qmd
          - fiche_vigueur_diam_sarment.qmd
          - fiche_pbt.qmd
          - fiche_secv.qmd
      - section: "Statut hydrique"
        contents:
          - fiche_notation_apex.qmd
          - fiche_pot_base.qmd
          - fiche_pot_tige.qmd
      - section: "Statut minéral"
        contents:
          - fiche_chl_index.qmd
      - section: "Maladies"
        contents:
          - fiche_maladies_OSCAR.qmd
          - fiche_mildiou_EPPO.qmd
          - fiche_oidium_EPPO.qmd
      - section: "Carences"
        contents:
          - fiche_chlorose.qmd
          - fiche_carenceK.qmd
      - section: "Récolte"
        contents:
          - fiche_rdt.qmd
          - fiche_matu.qmd
      - co356.qmd
      - about.qmd
  page-footer:
    right: "IFV 2025"
    left: "&copy; CC BY-SA 4.0"

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
  docx:
    reference-doc: "modele_word.docx"
    toc: false

date: last-modified
date-format: long
bibliography: references.bib
csl: agronomy.csl
editor: visual

lang: fr


